*.swp
.DS_Store

# Python files
__pycache__
*.pyc
*.pyo

# Database files
*.sqlite3

# File server files
/python/files/*
!/python/files/.gitkeep

# Files created temporarily by the test script
/tmp_testfiles
/tmp_testdb.sqlite3
